
html, body {
}

.wrapper {
    width: 690px;
    padding: 0 2em;
    border: 3px solid darken($white, 3%);
}

.form-title { /* <h1> for the page title */
}

.form-message { /* <p> with instructions/message at the top of the form */
}

label {
}

input {
}

input[type="text"],
input[type="textarea"] {
}

input[type="submit"],
input[type="button"] {
}

input[type="radio"] {
}

.encrypted-contact-form { /* the contact form */
}

.parent-field { /* <p> wrapping each field. Not all will have children fields */
    width: 400px;
}

.wrapper-options-list { /* for check lists and radios */
}
