/* This is the base CSS. Mobile first. */

html, body {
    text-align: center;
    background-color: darken($colortwo, 20%);
}

.wrapper {
    width: 390px;
    background-color: darken($white, 5%);
    padding: 0 0 20px;
    margin: auto;
    position: relative;
    max-width: 100%;
    box-shadow: 0 5px 12px rgba(#000 ,0.7);
}

.form-title { /* <h1> for the page title */
    margin: 0 auto;
    padding: 0.6em; 
}

.form-message { /* <p> with instructions/message at the top of the form */
    text-align: left;
    padding: 0.7em;
}

label {
    font-weight: bold;
}

input { 
    padding: 0.6em;
}

input[type="password"],
select,
input[type="email"],
input[type="text"],
textarea {
    -webkit-appearance: none; -moz-appearance: none;
    width: 100%;
    padding: 10px 8px;
    margin-top: 0.25em;
    margin-left: -8px;
    border: 2px solid darken($border, 10%);
    border-radius: 3px;
    color: $black;
    background-color: $white;
    transition: border 400ms ease-out;

    &:active,
    &:focus {
        border-color: $border-selected;
        color: $colortwo;
        background-color: $white;
    }
}

input[type=radio] {
    + label {
        > span {
            border-radius: 50%; // sets the shape
        }
    }

    &:checked {
        + label {
            > span {
                > span {
                    display: block;
                    width: 0.5em;
                    height: 0.5em;
                    margin: 0.125em;
                    border: 0.0625em solid $colortwo;
                    border-radius: 50%;
                    background: $white;
                    background-image: -moz-linear-gradient($colortwo, $colortwo);
                    background-image: -webkit-linear-gradient($colortwo, $colortwo);
                    background-image: linear-gradient($colortwo, $colortwo);
                }
            }
        }
    }
}

input[type=checkbox] {
    + label {
        > span {
            border-radius: 10%; // sets the shape
        }
    }

    &:checked {
        + label {
            > span {
                &:before {
                    content: 'x';
                    display: block;
                    width: 0.9em;
                    color: $colortwo;
                    font-size: 1em;
                    line-height: 0.8em;
                    text-align: center;
                    font-weight: bold;
                }
            }
        }
    }
}

input[type=radio],
input[type=checkbox] {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 0;

    + label {
        display: inline-block;
        margin-left: -2em;
        line-height: 1.5em;
        padding: 1em 0;
        border-top: 1px solid $grey;
        width: 100%;

        // unchecked
        > span {
            display: inline-block;
            width: 0.875em;
            height: 0.875em;
            margin: 0.25em 0.5em 0.25em 0.25em;
            border: 0.0625em solid $colortwo;
            background: $white;
            vertical-align: bottom;
        }
    }

    &:checked {

        + label {
            background-color: rgba($colortwo, 5%);
        }
    }
}

input[type="submit"],
input[type="button"] {
    -webkit-appearance: none; -moz-appearance: none;
    font-size: 1.15em;
    color: $white;
    background: $btn;
    font-weight: bold;
    padding: 0.5em 0;
    border: 2px solid lighten($btn, 10%);
    border-radius: 9px;
    min-width: 150px;
    max-width: 90%;
    transition: background 200ms, color 200ms;

    &:hover {
        background-color: $btnActive;
    }

    &:disabled {
        background-color: darken($grey,10%);
        border-color: darken($grey, 16%);
        color: darken($grey, 30%);
    }
}

#submitBtn {
    margin: 14px auto 20px auto;
}

.encrypted-contact-form { /* the contact form */
}

.parent-field { /* <div> wrapping each field. Not all will have children fields */
    margin: 2.5em auto 0.75em;
    text-align: left;
    width: 320px;
    max-width: 90%;
}

.field-name {
    font-size: 1.2em;
}

.wrapper-options-list { /* for check lists and radios */

    label {
        font-weight: normal;

        &:hover {
            cursor: pointer;
            background-color: lighten( $grey, 16% );
        }
    }

    .single-option {
        text-align: left;

        &:last-of-type {
            border-bottom: 1px solid $grey;
        }
    }
}

// Try to catch those bots with a honeypot.
.ishrunkthekids {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}
