/* All color variables are set here */

$white: #ffffff;
$grey:  #d8d8d8;
$black: #222222;
$error: #ff0000;

/* color scheme */
$colorone: #0095ff; // base color
$colortwo: #0015ff; // accent
$colorthree: #02dbc9; // bright

/* elements */
$border: darken($white, 5%);
$border-selected: $colortwo;
$btn: $colorone;
$btnActive: mix($colorone, $colortwo);
